h1{
color: orange;
font-size: 30px;
text-decoration: line-through;
}
h2{
color:red; 
font-size: 22px;
}

#first{
font-size: 79px;
}

.small{
font-size: 12px;
color: Blue;
}

span{font-style: italic;

}
h2 span{text-decoration: line-through;}